<div class="l-cart-actions__date">
    <label class="l-cart-actions__label" for="delivery-date">Date</label>
    <input class="l-cart-actions__date-input" id="delivery-date" placeholder="Select delivery date" type="text" name="attributes[delivery-date]" data-error="Please select a delivery date." required="required" value="{{ cart.attributes.delivery-date }}" />
</div>
