<div class="l-cart-actions__date">
    <label class="l-cart-actions__label" for="pickup-date">Date</label>
    <input class="l-cart-actions__date-input" id="pickup-date" placeholder="Select a pick up date" type="text" name="attributes[pickup-date]" data-error="Please select a pickup date." value="{{ cart.attributes.pickup-date }}" />
</div>
