<div class="l-cart-actions__date">
    <h3 class="l-cart-actions__date-disclaimer">Please give us at least 16 hours notice. Our courier can't deliver on weekends.</h3>
    <input class="l-cart-actions__date-input" id="pickup-date" placeholder="Select a pick up date" type="text" name="attributes[pickup-date]" data-error="Please select a pickup date." value="{{ cart.attributes.pickup-date }}" />
</div>
