.l-cart-shipping-description {
  margin-bottom: $spacing-l;
}

.l-cart-actions {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-xl $spacing-l;
  background: $colour-framing;

  &__date {
    flex-grow: 1;
  }

  &__delivery-date {
    margin-bottom: $spacing-xl;
    display: flex;
    flex-direction: column;
  }

  &__date-disclaimer {
    margin: $spacing 0;
    font-size: 1.3rem;
    font-style: italic;
  }

  &__date-input {
    width: 100%;
    cursor: pointer;
  }

  &__label {
    font-weight: bold;
  }


  &__attributes,
  &__totals {
    width: 50%;

    @include tablet {
      width: 100%;
    };
  }

  &__totals {
    text-align: right;
  }
}

// Delivery Method Tabs

.c-tabs {
  padding-top: $spacing-s;
  position: relative;
  width: 100%;
  min-height: 25rem;
  margin-bottom: $spacing-xl;

  @include tablet {
    min-height: 25rem;
  }
}

.c-tab {
  float: left;
  display: flex;
  align-items: center;

  & + & {
    margin-left: $spacing-l;
  }
}

.c-tab__radio-input {
  display: block;

  &:checked {
    ~ .c-tab__content {
      display: block;
    }
  }
}

.c-tab__pickup {
  display: flex;
  align-items: flex-start;
}

// Instruction Text Area
.l-cart-actions__instructions {
  margin-bottom: $spacing-xl;
}

.l-cart-actions__instruction-text-area {
  line-height: 1.4;
  width: 100%;
  min-height: 10rem;
}

.c-tab__label {
  margin: 0;
  display: inline-block;
}

.c-tab__content {
  display: none;
  left: 0;
  top: 6rem;
  position: absolute;
  width: 100%;
}

// Responsive Table Override
.c-cart-table {
  @include tablet {
    font-size: 1.4rem;

    td {
      padding: $spacing-l $spacing-s;
    }

    .h4,
    .h3 {
      font-size: 16px;
    }
  };
}

// Date Picker Override
.ui-widget-header {
  background: #333;
}

.c-cart-table__quantity-input {
  max-width: 8rem;
}

.l-cart__empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
}
