.c-nav-bar {
background: lighten($colour-brand, 5);

  @include tablet {
    background: lighten($colour-brand, 5);
  }

  &__wrapper {
    font-size: 1.4rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: $colour-suplementary;
  }

  &__customer {
    // Empty
  }

  &__mobile-links {
    margin: 0;
  }

  &__cart {
    margin-right: $spacing-s;

    @include tablet {
      margin-right: $spacing-xs;
    };
  }

  &__menu-button {
    display: flex;
    align-items: center;
  }

  &__menu-icon {
    fill: $colour-text;
  }

  .site-nav__active {
    border-bottom: 1px solid;
  }
}

// Overriding Active states of the nav link
.site-nav--active {
  .site-nav__link {
    color: $colour-text;
    font-weight: 600;
  }
}
