.c-header {
  background: $colour-brand;

  &__wrapper {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      height: 8rem;
      justify-content: center;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    max-width: 30rem;
  }

  &__cart-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: $spacing-s;
    fill: $colour-text;
  }
}

.cart-button-spacer {
  opacity: .3;
  margin: 0 $spacing-xs;
}

.cart-button__item-count {
  margin-right: $spacing-xxs;
}
