.c-password-panel {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 50rem;
  padding: 5rem;
  flex-direction: column;
  border-radius: 10px;
  text-align: left;

  @include tablet {
    background: transparent;
  };
}

.c-password-panel__logo {
  max-width: 10rem;
  margin-bottom: 3rem;
}

.c-password-panel__header {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.c-password-panel__description {
  line-height: 1.6;

  @include tablet {
    color: $colour-text;
  };
}
