.c-message-panel {
  padding: $spacing-xxl;
  width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__header {
    @include tablet {
      font-size: 2rem;
    }
  }

  &__image {
    max-width: 15rem;
    margin-bottom: $spacing-xxl;
  }
}
