<div class="l-stores">


  <div class="c-outlet-card">
    <img src="{{ 'illustration-flagship.png' | asset_url }}" class="c-outlet-card__illustration">
    <div class="c-outlet-card__top">
      <h1 class="c-outlet-card__name">Flagship Store</h1>
      <h3 class="c-outlet-card__address">309 Karangahape Road</h3>
    </div>
    <table class="c-outlet-card__hours">

      <tbody><tr class="c-outlet-card__hours__row">
        <td>Tuesday</td>

        <td class="hours">11am - 6pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Wednesday</td>

        <td class="hours">11am - 9pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Thursday</td>

        <td class="hours">11am - 9pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Friday</td>

        <td class="hours">11am - 9pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Saturday</td>

        <td class="hours">11am - 9pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Sunday</td>

        <td class="hours">11am - 6pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Monday</td>

        <td class="hours">Closed</td>

      </tr>

    </tbody></table>
  </div>

  <div class="c-outlet-card">
    <img src="{{ 'illustration-auckland.png' | asset_url }}" class="c-outlet-card__illustration">
    <div class="c-outlet-card__top">
      <h1 class="c-outlet-card__name">Auckland Uni</h1>
      <h3 class="c-outlet-card__address">34 Princes Street, AU Quad</h3>
    </div>
    <table class="c-outlet-card__hours">

      <tbody><tr class="c-outlet-card__hours__row">
        <td>Tuesday</td>

        <td class="hours">10am - 7pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Wednesday</td>

        <td class="hours">10am - 7pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Thursday</td>

        <td class="hours">10am - 7pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Friday</td>

        <td class="hours">10am - 7pm</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Saturday</td>

        <td class="hours">Closed</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Sunday</td>

        <td class="hours">Closed</td>

      </tr>

      <tr class="c-outlet-card__hours__row">
        <td>Monday</td>

        <td class="hours">10am - 7pm</td>

      </tr>

    </tbody></table>
  </div>


</div>
