{% layout 'password' %}

<div class="c-password-panel">
  <img class="c-password-panel__logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
  <h1 class="c-password-panel__header">get ready for mo cookies. online.</h1>
  <p class="c-password-panel__description t-supplementary">In the mean time, head over to our <a href="https://facebook.com/moustachenz">facebook page</a></p>
</div>
